html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Set Color Variables*/
:root {
    --text: #44321A;
    --background: #f1edea;    ;
    --primary: #80A62E;
    --accent: #39345b;
    --footer-background: #D9D0C7;
    --link-hover: #718C35;
    --semi-transperant-bg: rgba(241, 237, 234, 25%);
}

body {
    font-size: 155%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

p, li {
    width:60rem;
}

p {
    line-height: 1.35;
}

a:link, a:visited {
    color: var(--other-accent);
}

a:hover {
    color: var(--link-hover);
}

/* Style the Banner */
header {
    background-image: url("images/bigcatpic.jpg");
    height: 100vh;
    min-height: 600px;
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: -20px;
}
header section {
    padding: 1rem;
    width: 36rem;
    position: absolute;
    height: 20vh;
    background-color: var(--semi-transperant-bg);
    top: 30vh;
    left: 60%;
    margin:0;
}

header section h1 {
    color: var(--text);
    font-size:  2.2em;
    margin: 0;
    padding: 0;
}

header section p {
    color: var(--accent);
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

/* Center the centered-main class */
.centered-main {
    width: 70%;
    max-width: 50em;
    margin: 0 auto;
}

/* Style floated boxes*/
.box-right {
    box-sizing: content-box;
    float: right;
    width: 350px;
    padding: 0.5em;
    border: 2px solid var(--accent);
    margin: 0 0 1em 1em;
}

.clear-float {
    clear: both;
}

.box-left {
    box-sizing: content-box;
    float: left;
    width: 350px;
    padding: 0.5em;
    border: 2px solid var(--accent);
    margin: 0 1em 1em 0;
}

.box-right img, .box-left img {
    width: 100%;
}

footer {
    background-color:var(--footer-background);
    padding: 0.5em 0;
}

a {
    color: var(--accent);
}