html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Set Color Variables*/
:root {
    --text: #44321A;
    --background: #f9f7f6;    ;
    --primary: #80A62E;
    --accent: #39345b;
    --footer-background: #D9D0C7;
    --link-hover: #718C35;

}

body {
    font-size: 115%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
}

a:link, a:visited {
    color: var(--other-accent);
}

a:hover {
    color: var(--link-hover);
}

/* Style the Banner */
header {
    background-image: url("images/bigcatpic.jpg");
    height: 100vh;
    min-height: 600px;
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
header section {
    padding: 1rem;
}

header section h1 {
    color: var(--text)
}

header section p {
    color: var(--accent);
    font-size: 1.2em;
}

/* Center the centered-main class */
.centered-main {
    width: 70%;
    max-width: 60em;
    margin: 0 auto;
}

/* Style floated boxes*/
.box-right {
    box-sizing: content-box;
    float: right;
    width: 350px;
    padding: 0.5em;
    border: 2px soldid var(--accent);
    margin: 0 0 0 1em;

}
.box-right img {
    width: 100%;
}

.clear-float {
    clear: both;
}

footer {
    background-color:var(--footer-background);
    padding: 0.5em 0;
}